<h1>Teacher#bienvenue_prof</h1>

<p>
  Bonjour <%= @teacher.first_name %> <%= @teacher.last_name  %>, vous êtes bien inscits sur <a href="https://www.notice-droit.fr/">Notice-Droit.fr</a>.
  <br>
  <br>
  Vous pouvez desormais ajouter du contenu depuis votre <a href="https://www.notice-droit.fr/my_courses">interface</a> ou en utilisant l'onglet "mes cours" sur votre avatar. <br>
  <br>
  Avant d'ajouter du contenu, il est préférable de vérifier qu'un contenu similaire n'existe pas déjà.
</p>
