.body-student{
  background-image: image-url('student3.jpg');
   background-size: cover;
    background-color: (-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)50%);
}

.titre{
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
  font-weight: bolder;
  color: white;
}

.affiche{
  margin-left: 19%;

}



.spec{
  padding-top: 25px;
  margin-left: 7%;
  min-height: 180px;
  max-width: 600px;
  border: 1px solid #ddd;
  background-color: white;
  margin-bottom: 40px;
  h3{
    margin-bottom: 20px;
     padding-bottom: 20px;
    font-weight: bolder;
    font-size:24px;
    border-bottom: solid 0.3px;
    border-bottom-color: #d9d9d9;
    width: 90%;
    color: #333333;
    margin: 0 auto;
    border-spacing: 20px;
    padding-bottom: 20px;

  }
}
  .chapters{
     margin-bottom: 25px;

    color: #333333;
    font-size: 20px !important;



  p{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px !important;
    color:#333333;
    }

  a{
    color: #333333;
    text-decoration: none;
    font-size: 20px !important;
    padding-left: 15px;
    font-weight: none;
  }
  a:hover{
    color: #ff4d4d;
    font-size: 20px !important;
  }
  }



  .btn-success {
    margin-top: 30px;
  }


.fiches{
  margin-left: 90px;
 margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #5eddd2;
  border-radius: 3px;
  color: #5eddd2;
  font-size: 14px !important;
  height: 1.8rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  padding-left: 0px;
  padding-right: 4px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: -webkit-fit-content;

  a{
    color: #333333;
    text-decoration: none;
    font-size: 14px !important;
  }
  a:hover{
    color: #ff4d4d;
      font-size: 14px !important;
  }

}

.student-footer {

  background-color: #f9f9f9;
  padding-bottom: 15px;
  padding-top: 15px;


.fake{
  padding-left: 100px;
  font-size: 15px;
  display: flex;


  .fake1 {
    padding-left: 55px;
    font-size: 12px;
  }
    .fake2 {
    padding-left: 55px;
    font-size: 12px;
  }
  }
}


