.body-student{
  background-image: url('student3.jpg');
   background-size: cover;
    background-color: (-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)50%);

}

.titre{
  text-align: center;
  margin-bottom: 60px;
  padding-top: 60px;
  font-weight: bolder;
  color: white;
}

.affiche{
  display: flex;
  justify-content: center;
  width: 100%;

}

@media screen and (max-width: 500px){
  .affiche{
    width: 90%;
  }
}

.spec{
  padding-top: 25px;
  padding-right: 15px;
  border: 1px solid #ddd;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 5px;
  width: 100%;

  h3{
    margin-bottom: 20px;
     padding-bottom: 20px;
    font-weight: bolder;
    font-size:24px;
    border-bottom: solid 0.3px;
    border-bottom-color: #d9d9d9;
    width: 90%;
    color: #333333;
    margin: 0 auto;
    border-spacing: 20px;
    padding-bottom: 20px;

  }
}
  .chapters{
     margin-bottom: 25px;
    color: #333333;
    font-size: 20px !important;

  p{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px !important;
    color:#333333;
    }

  a{
    color: #333333;
    text-decoration: none;
    font-size: 20px !important;
    padding-left: 15px;
    font-weight: none;
  }
  a:hover{
    color: #ff4d4d;
    font-size: 20px !important;
  }
  }

.fiches{
  margin-left: 90px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #5eddd2;
  border-radius: 3px;
  color: #5eddd2;
  font-size: 14px !important;
  height: 1.8rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  padding-left: 0px;
  padding-right: 4px;
  text-align: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  width: -webkit-fit-content;
  overflow: hidden;

  a{
    overflow: hidden;
    color: #333333;
    text-decoration: none;
    font-size: 14px !important;
  }
  a:hover{
    color: #ff4d4d;
      font-size: 14px !important;
  }

}

.student-footer {
  background-color: #f9f9f9;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 15px;
  display: flex;
  justify-content: center;

  .fake1 {

    font-size: 12px;
  }
    .fake2 {
     padding-left: 55px;
    font-size: 12px;
  }

}


