.body-student{
  background-image: image-url('student3-resize.jpg');
  background-size: cover;
  background-color: (-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)50%);
  padding-bottom: 50%;


}

.titre{
  text-align: center;
  margin-bottom: 60px;
  padding-top: 60px;
  font-weight: bolder;
  color: white;

}





.spec{
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  padding-top: 25px;
  margin: 20px auto;

  border: 1px solid #ddd;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 5px;
  width: 50%;


  h3{
    margin-bottom: 20px;
     padding-bottom: 20px;
    font-weight: bolder;
    font-size:24px;
    border-bottom: solid 0.3px;
    border-bottom-color: #d9d9d9;
    width: 90%;
    color: #333333;
    margin: 0 auto;
    border-spacing: 20px;
    padding-bottom: 20px;

  }
}

@media screen and (max-width: 800px){
  .spec{
    width: 70%;
  }

}

@media screen and (max-width: 500px){
  .spec{
    width: 95%;
  }

}
  .chapters{
     margin-bottom: 25px;
    color: #333333;
    font-size: 20px !important;

  p{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px !important;
    color:#333333;
    @media screen and (max-width:  950px){
      font-size: 15px!important;
      padding-left: 18px;
   }
    }

  a{

    color: #333333;
    text-decoration: none;
    font-size: 20px !important;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: none;
    @media screen and (max-width: 950px){
    font-size: 15px!important;
   }
  }
  a:hover{
    color: #ff4d4d;
    font-size: 20px !important;
  }
  }

.row-dashboard-fiche{
  display: flex;
  justify-content: left;
  padding-left: 65px;
  @media screen and (max-width: 950px){
    padding-left: 27px;
  }
  @media screen and (max-width: 320px){
    padding-left: 6px;
  }
}

.fiches {
  margin-left: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #5eddd2;
  border-radius: 3px;
  color: #5eddd2;
  font-size: 14px !important;
  height: 1.8rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  flex-wrap: wrap;
  width: -webkit-fit-content;



  a{
    overflow: hidden;
    color: #333333;
    text-decoration: none;
    font-size: 14px !important;
    @media screen and (max-width: 950px){
    font-size: 9px!important;
    padding: 4px;
   }
  }
  a:hover{
    color: #ff4d4d;
      font-size: 14px !important;
  }

}


.logo-fiche {
  @media screen and (max-width: 320px){
    img{ width:14px;
      height: 14px;
    }
  }
}



.student-footer {
  background-color: #f9f9f9;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  width: 100%;

  .fake1 {

    font-size: 12px;
    @media screen and (max-width: 414px){
    font-size: 9px;
    padding: 4px;
   }
  }
    .fake2 {
      padding-left: 55px;
      font-size: 12px;
      @media screen and (max-width: 414px){
      font-size: 9px;
      padding: 4px;
      }
    }
}


@media screen and (max-width: 500px){
  .fake1{
  padding-left: 35px;
  }
}

#fixed-row {
  width: 100%;
}
