.banner {
 color: white;
 text-align: center;
 height: 70vh;
 /* if you have a 70px navbar => height: calc(100vh - 70px); */
 background-size: cover !important;
 display: flex;
 align-items: center;
 justify-content: center;
 @media screen and (max-width: 360px) {
    padding-bottom: 35px;
  }


}

.banner-content h1 {
 font-size: 55px;
 font-weight: bold;
 text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
 @media screen and (max-width: 360px) {
    font-size: 40px;
  }

}

.banner-content h3 {
   @media screen and (max-width: 360px) {
    font-size: 25px;
  }
}

.banner-content p {
 font-size: 20px;
 font-weight: lighter;
 color: rgb(255, 255, 255);
 opacity: 0.7;
 margin-bottom: 15px;
 @media screen and (max-width: 320px) {
    font-size: 15px;
  }
}

.icon-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin: 60px 60px;

}

.cours{
  background: #fff;
  border: 1px solid #ddd;
// padding-left: 25px;
//   padding-right: 30px;
 height: 380px;
//   width: 350px;

  margin: 30px 0;
  padding: 50px 40px;

}



.icon{
  padding-bottom: 40px;
  align-content: center;
  text-align:center;
}


.text{

  align-content: center;

  p{
    font-size: 16px;
    text-align:center;
     padding: 20px;
     margin: 0px -34px 11.5px;
     @media screen and (max-width: 320px) {
    font-size: 14px;
  }
  }

  h4{
    text-align:center;
    font-size: 26px;
    font-weight: bold;
  }
}



