.row-payment{
  padding: 20px, 20px;
}

.card_number{
  margin: 20px, 20px;
}

.name{
  margin: 20px, 20px;
}

.form-title{
  text-align: center;
  h1{
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: bolder;
  }
}

.credit-card-box .panel-default {
  text-align: center;
}

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box label {
    display: block;
}

.credit-card-box .display-tr {
    display: table-row;
    text-align: center;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.credit-card-box .panel-heading img {
    min-width: 180px;
}

.payment-offres {
display: flex;
justify-content: space-around;
flex-flow: wrap;
}

.payment-item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  min-height: 400px;
  max-width: 370px;
  border: 1px solid #ddd;
  background: #fff;
  margin-bottom: 20px;

    ul {
    text-align: left;
    }

    .payment-item-title {
      color: #E14452;
    }

    .price-item {
color: #53BDB2;
font-size: 25px;
}
}



