.frame {
  background: #fff;
  border-bottom: 1px solid #EEEEEE;
  margin-top: 3px;
  margin-bottom: 6px;
  padding: 1px 0px 18px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.link_to_retour {
  padding : 8px 17px;

  a{
    color:black;
    text-decoration: none;
  }

  a:hover {
    color: #ff4d4d;
  }
}

