<h1>Specialities#index</h1>
<p>Find me in app/views/specialities/index.html.erb</p>


<ul>
  <% @specialities.each do |speciality|%>
    <li>
        <%= link_to speciality.title, speciality_path(speciality) %>
    </li>
  <% end %>
</ul>


<% if current_teacher.nil? %>
<% else %>
  <%= link_to "Ajouter une spécialité", new_speciality_path %>
<% end %>




