<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)50%), url('<%= image_path 'abonnements_image.jpg' %>')">

  <div class="banner-content">
    <h1>Notice</h1>
    <h2>Quel abonnement conviendra le plus à votre besoin ?</h2>
  </div>
</div>

<div class="container">
    <h3>A propos</h3>
    <p>Notice, un accès simple à des cours en lignes et fiches de révision préparés spécialement par nos professeurs experts. Maîtres de conférence et Chargés de TD mettent à votre disposition leurs connaissances pour maximiser vos chances de réussite à vos prochains examens.</p>
    <br>
<h4>Le service notice c'est :</h4>
    <p>- Une équipe pédagogique expériementée de plus de 50 professeurs</p>
    <p>- Des cours complets rédigés par nos experts</p>
    <p>- Des fiches didactiques de révision qui reprennent les points clés à connaître pour l'examen</p>
    <p>- Des flashcard accessibles partout pour vous entraîner et valider vos acquis</p>
</div>

 <div class="about-button">
<%= link_to "Je m'abonne !", students_sign_up_path, class: "about-button" %>
</div>
