 <div class="home-container">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)50%), url('<%= image_path 'home_image2.jpg' %>')">

      <div class="banner-content">
        <h1>Notice</h1>
        <h4>La solution qu'il vous faut pour réussir vos examens</h4>
        <br>
        <br>
        <p>Accédez à l'ensemble des fiches de révision</p>
        <%= form_tag specialities_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Droit de la propriété"
        %>

        <% end %>
      </div>
    </div>

  </div>

