<div class="container">
  <h1><%= @chapter.speciality.title %></h1>
    <h3><%= @chapter.title %></h3>

  <% if @order.present? %>
    <iframe src="https://docs.google.com/viewer?url=<%= @chapter.content %>&embedded=true"
    style="width:1000px; height:500px;" frameborder="0"></iframe>
    <!-- changer l'url du pdf par la string stockée en local pour @chapter.content ou addcolumn dans la table chapters pour stocker l'url -->
    <!-- responsive: sur téléphone, width max = 360px/ sur ordinateur, width max = + -->

  <% else %>
  <p>vous ne possedez pas ce contenu</p>
  <%= link_to 'acheter', orders_new_path(speciality_id: @speciality.id), class: "btn btn-success pull-right" %>
  <% end %>

</div>
