<div class="container">
  <h1><%= @chapter.title %></h1>
  <h3>AFFICHAGE DU PDF DE COURS</h3>
  <iframe src="https://docs.google.com/viewer?url=https://res.cloudinary.com/dbv4zyg7b/image/upload/v1551277555/Captur.pdf&embedded=true"
  style="width:1000px; height:500px;" frameborder="0"></iframe>
  <!-- changer l'url du pdf par la string stockée en local pour @chapter.content ou addcolumn dans la table chapters pour stocker l'url -->
  <!-- responsive: sur téléphone, width max = 360px/ sur ordinateur, width max = + -->
</div>
