<div class="container">
  <h1>Chapters#show</h1>
  <h1>AFFICHAGE DU PDF DE COURS</h1>
  <p>Find me in app/views/chapters/show.html.erb</p>

  <iframe src="https://docs.google.com/viewer?url=https://res.cloudinary.com/dbv4zyg7b/image/upload/v1551277555/Captur.pdf&embedded=true"
   style="width:1000px; height:500px;" frameborder="0"></iframe>
   <!-- changer l'url du pdf par la string stockée en local -->
   <!-- responsive: sur téléphone, width max = 360px/ sur ordinateur, width max = + -->
</div>
