.about-button {
    color: white;
    background-color: #E14452;
    border-radius: 5px;
    font-size: 25px;
    line-height: 24px;
    padding: 7px 10px;

    }

.about-button:hover {
    background-color: #E7838F;
    color: white !important;
    text-decoration: none !important;
    }
