.about-button {
    color: white;
    background-color: #ed5360;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    padding: 7px 10px;
    }

.about-button:hover {
    background-color: #E14452;
    color: white;
    text-decoration: none;
    }

.payment-button {
    color: white;
    background-color: #ed5360;
    border-radius: 5px;
    font-size: 20px;
    padding: 7px 235px;
    text-align: center;

    a{
      color: white;
      font-size: 20px;
      background-color: #ed5360;
    border-radius: 5px;


    }

}
.payment-button:hover {
    background-color: #E14452;
    color: white;
    text-decoration: none;
     a{
      color: white;
      text-decoration: none;
      font-size: 20px;
    }
    }

.speciality-button {
    color: white;
    border-radius: 5px;
    font-size: 17px;
    line-height: 24px;
    padding: 5px 5px;
    border: 1px solid;
    }

    .speciality-button:hover {
    color: #00E4D6;
    text-decoration: none;
    }
