.about-button {
    color: white;
    background-color: #ed5360;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    padding: 7px 10px;
    }

.about-button:hover {
    background-color: #E14452;
    color: white;
    text-decoration: none;
    }

.payment-button {
    color: white;
    background-color: #ed5360;
    border-radius: 5px;
    font-size: 20px;
    padding: 7px 235px;
    text-align: center;

    a{
      color: white;
      font-size: 20px;
      background-color: #ed5360;
      border-radius: 5px;
    }
}
.payment-button:hover {
    background-color: #E14452;
    color: white;
    text-decoration: none;
     a{
      color: white;
      text-decoration: none;
      font-size: 20px;
    }
}


.button-buy {
    border-radius: 8px;
    background-color: #ed5360;
    border: 1px solid #ed5360;
    padding: 0px 8px 2px 8px;
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1;
  a {
      color : white!important;
      font-weight: lighter;
      font-size: 16px;
  }
}

.button-buy:hover {
  background-color: white;
  padding: 0px 8px 2px 8px;
  border: 1px solid #ed5360;
  a {
    color : #ed5360!important;
  }
}

.speciality-button {
    color: white;
    border-radius: 5px;
    font-size: 17px;
    line-height: 24px;
    padding: 5px 5px;
    border: 1px solid;
    box-shadow: 5px 4px 78px #9b999a;
    }

    .speciality-button:hover {
    color: #00E4D6;
    border-color: #00E4D6;
    text-decoration: none;
    }

.already-bought-icon {
  margin: 25px;
}

.button-add-speciality {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  a{
    color: #E14452;
    text-decoration: none;
  }

  a:hover{
  font-weight: bold;
  }
}

.lien-retour {
  padding-top: 24px;
  display:flex;
  justify-content: center;
  a{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    padding: 7px 10px;
    box-shadow: 5px 4px 78px #9b999a;
  }
  a:hover {
    color: #00E4D6;
    border: 1px solid #00E4D6;
    text-decoration: none;
  }
}

