.row1{
  display: flex;
  justify-content: start;
}

.card-fiches-title {
  font-size: 1.2rem;
  height: 3.8rem;
  line-height: 1.4rem;
  letter-spacing: 1px;
  padding: 0 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  p a {
    color: #5eddd2;
    border: 1px solid #5eddd2;
    border-radius: 2px;
    padding: 5px 5px;
  }
}

.card-fiches-title {
   a:hover {
    background-color: #5eddd2;
    color: white;
    border-color: #5eddd2;
  }
}

.card-author-show {
  margin-left: 30px;
  padding-top: .125rem;
  width: 90%;
  h3 {
    padding-bottom: 18px;
    border-bottom : solid 0.3px;
    border-bottom-color: lighten(#333, 65%);
    color: lighten(#333, 40%);
    font-weight: 100;
    font-size: 20px;
  }
}
