.a-propos {
padding-left: 20px;
}

.offres {
  .item
h4 {
      font-size: 25px;
    }
h5 {
      font-size: 20px;
    }
}

.payment-item {
  h4 {
      font-size: 25px;
    }
h5 {
      font-size: 20px;
    }
}


.background_loop {
  width: 39px;
  height: 39px;
    background-color: #ed5360;
    border-radius: 5px;
    font-size: 20px;

}

.research {
  color: black
}
