<h1>Student#Bienvenue!</h1>

<p>
  Bonjour <%= @student.first_name %>, vous êtes bien inscits sur <a href="https://www.notice-droit.fr/">Notice-Droit.fr</a>.<br>
  Vous pouvez continuer votre navigation et acheter les matières dont vous avez besoin!
</p>
