<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé un changement de mot de passe. Vous pouvez le faire avec ce lien.</p>

<p><%= link_to 'changer de mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origin de cette demande, vous pouvez ignorer ce mail.</p>
<p>Le mot de passe ne peut être changé que par l'intermédiaire de ce lien.</p>
